@model IEnumerable<Bookings_v2.Models.Booking>

@{
    ViewData["Title"] = "Index";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FllightId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransportId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccomodationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionTotal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FllightId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransportId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccomodationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionTotal)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BookingId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BookingId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BookingId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<canvas id="myChart" width="1000" height="600"></canvas>
<script>
    const dconst data = {
        'React': 185134,
        'Vue': 195514,
        'Angular': 80460,
        'Svelte': 57022,
        'Ember.js': 22165,
        'Backbone.js': 27862
    };

    const ctx = document.getElementById('myChart').getContext('2d');

    const myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: Object.keys(data),
            datasets: [
                {
                    label: 'Number of GitHub Stars',
                    data: Object.values(data),
                },
            ],
        },
    });
    </script>